# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db
Notes.md

# ===============================
# Python / Django
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
*.pot

# Virtual environments
myenv/
tokens.txt


# Django secrets
.myenv
.env.*

# Django media & static
media/
staticfiles/

# ===============================
# Node / React
# ===============================
node_modules/
dist/
build/
.cache/

# Frontend env files
frontend/.env
frontend/.env.*

# ===============================
# LangChain / AI
# ===============================
.chroma/
.faiss/
*.bin
*.pt
*.pth

# ===============================
# Tooling
# ===============================
.idea/
.vscode/
*.swp

# ===============================
# Docker
# ===============================
docker-compose.override.yml
